.layout-builder__region {
    padding-left: 0;
    padding-right: 0;
}

.layout-builder-block {
    background: none;
}

.layout-builder__add-block {
    background: none;

.layout-builder.is-layout-builder-highlighted {
        margin: 0;
    }
}

.layout-builder__layout {
    padding: 1rem;
    border: 1px solid var(--gin-border-color-layer);
    box-sizing: border-box;
    background: var(--gin-bg-layer);
    display: flex;
    flex-wrap: wrap;
}

.layout-builder .layout-builder__section--header {
    font-size: 1.125em;
    font-weight: 600;
    color: var(--gin-color-primary-active);
    padding: 1em;
    margin-top: 0;
    background: var(--gin-bg-header);
    border: 0 none;
    border-radius: var(--gin-border-m);
    display: flex;
    margin-bottom: 1em;
    width: 100%;
    align-items: center;
}

.layout-builder .layout-builder__section--header .layout-builder__section-label {
    flex-grow: 1;
}

.layout-builder .layout-builder__add-block, .layout-builder .layout-builder__add-section {
    background: transparent;
    border-radius: var(--gin-border-m);
    padding: 0;
    width: 100%;
    text-align: center;
    outline: 2px dashed var(--gin-color-primary);
}

.layout-builder__link--add {
    color: var(--gin-color-primary);
    background: none;
    display: block;
    width: 100%;
    padding: 1.5em 0;
    transition: var(--gin-transition);
    font-size: 1rem;
    font-weight: 700;
}

.layout__region .block .block--title .block-operations {
    display: flex;
    Justify-content: flex-end;
}

.layout__region .block .block--title .block-operations .block-operation,
.layout__region .block .block--title .block-operations .block-operation--remove,
.layout-builder__link.action-link,
.layout-builder__link.action-link.action-link--icon-trash {
    position: relative;
    display: block;
    height: 32px;
    min-height: 32px;
    width: 32px;
    color: transparent !important;
    background: transparent !important;
    overflow: hidden;
    padding: 6px;
    box-sizing: border-box;
    margin: 0 0 0 5px;
}

.layout__region .block .block--title .block-operations .block-operation:hover,
.layout-builder__link.action-link:hover {
    background-color: var(--gin-color-primary) !important;
}

.layout__region .block .block--title .block-operations .block-operation--remove:hover,
.layout-builder__link.action-link.action-link--icon-trash:hover {
    background-color: var(--gin-color-danger) !important;
}

.layout__region .block .block--title .block-operations .block-operation::before,
.layout__region .block .block--title .block-operations .block-operation--remove::before,
.layout-builder__link.action-link::before,
.layout-builder__link.action-link.action-link--icon-trash::before {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    margin: 0;
    width: 16px;
    height: 16px;
    transform: translate(-50%, -50%);
    color: transparent !important;
    content: "";
}

.layout__region .block .block--title .block-operations .block-operation--remove::before,
.layout-builder__link.action-link.action-link--icon-trash::before {
    background-color: var(--gin-color-danger) !important;
}

.layout__region .block .block--title .block-operations .block-operation:hover::before,
.layout-builder__link.action-link:hover::before {
    background-color: var(--gin-bg-secondary) !important;
}

.layout__region .block .block--title .block-operations .block-operation--remove:hover::before,
.layout-builder__link.action-link.action-link--icon-trash:hover::before {
    background-color: var(--gin-color-title) !important;
}

.action-link--icon-trash::before  {
    -webkit-mask-image: url("../misc/sprite.svg#trash-view");
    mask-image: url("../misc/sprite.svg#trash-view");
}

.action-link--icon-cog::before {
    -webkit-mask-image: url("../misc/sprite.svg#config-view");
    mask-image: url("../misc/sprite.svg#config-view");
}

.action-link--icon-drag::before {
    -webkit-mask-image: url("../misc/sprite.svg#drag-view");
    mask-image: url("../misc/sprite.svg#drag-view");
}

.action-link--icon-edit::before {
    -webkit-mask-image: url("../misc/sprite.svg#media-edit-view");
    mask-image: url("../misc/sprite.svg#media-edit-view");
}