.layout-builder__region {
    padding-left: 0;
    padding-right: 0;
}

.layout-builder-block {
    background: none;
}

.layout-builder__add-block {
    background: none;

.layout-builder.is-layout-builder-highlighted {
        margin: 0;
    }
}

.layout-builder__link--remove,
.layout-builder__link--configure {
    position: relative;
    display: inline-block;
    width: 32px !important;
    height: 32px !important;
    margin: 0 6px 0 0 !important;
    font-size: 16px;
    border: 1px solid #d4d4d8;
    border-radius: 50%;
    box-sizing: border-box;
    text-indent: -9999px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 14px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .15);
}

.layout-builder__link--remove:hover,
.layout-builder__link--configure:hover {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .2), 0 0 0 4px rgba(0, 125, 250, .6);
}

.layout-builder__link--remove,
.layout-builder__link--remove:hover {
    background-image: url(../../misc/icons/0550e6/ex.svg);
}

.layout-builder__link--configure,
.layout-builder__link--configure:hover {
    background-image: url(../../misc/icons/0550e6/wrench.svg);
}
